body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   }
.card-img-top{
    width: 100%;
    height: 350px; /* Adjust height as needed */
    object-fit: cover;
}
#poster{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
